<?xml version="1.0"?>
<model>
  <name>sonar_tof_be_plus</name>
  <version>1.0</version>
  <sdf version='1.5'>sonar_tof_be_plus.sdf</sdf>

  <author>
   <name></name>
   <email></email>
  </author>

  <description>
    BeTomorrow sonar sensor model plus configuration for Gazebo
  </description>
</model>
